# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
hmdm_env/
venv/
.env
.env.*

# VS Code
.vscode/

# JetBrains
.idea/

# Jupyter
.ipynb_checkpoints/

# Python Logs
*.log

# OS Files
.DS_Store
Thumbs.db

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# dbt
dbt/target/
dbt/logs/
dbt/dbt_packages/

# Airflow
airflow/logs/
airflow/airflow.db
airflow/standalone_admin_password.txt
airflow/webserver_config.py

# Snowpark / Temp Files
*.csv
*.parquet
*.json.tmp

# Secrets
secrets/
*.pem
*.key

# Build
dist/
build/
*.egg-info/

# Misc
*.swp